<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ep.activiti.mapper.CustomTaskMapper">
	<resultMap type="com.ep.activiti.entity.CustomTask" id="customTask_hi">
		<id property="id" column="ID_" jdbcType="VARCHAR" />
		<result property="name" column="NAME_" jdbcType="VARCHAR" />
		<result property="createTime" column="START_TIME_" jdbcType="TIMESTAMP" typeHandler="com.ep.activiti.handlerUtil.TimestampToFormatStringHandler"/>
		<result property="processDefinitionId" column="PROC_DEF_ID_" jdbcType="VARCHAR" />
		<result property="processInstanceId" column="PROC_INST_ID_" jdbcType="VARCHAR" />
		<result property="businessKey" column="BUSINESS_KEY_" jdbcType="VARCHAR" />
		<result property="assignee" column="ASSIGNEE_" jdbcType="VARCHAR" />
		<result property="authenticatedUserId" column="START_USER_ID_" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap type="com.ep.activiti.entity.CustomTask" id="customTask_ru">
		<id property="id" column="ID_" jdbcType="VARCHAR" />
		<result property="name" column="NAME_" jdbcType="VARCHAR" />
		<result property="createTime" column="CREATE_TIME_" jdbcType="TIMESTAMP" typeHandler="com.ep.activiti.handlerUtil.TimestampToFormatStringHandler"/>
		<result property="processDefinitionId" column="PROC_DEF_ID_" jdbcType="VARCHAR" />
		<result property="processInstanceId" column="PROC_INST_ID_" jdbcType="VARCHAR" />
		<result property="businessKey" column="BUSINESS_KEY_" jdbcType="VARCHAR" />
		<result property="assignee" column="ASSIGNEE_" jdbcType="VARCHAR" />
		<result property="authenticatedUserId" column="START_USER_ID_" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap type="com.ep.activiti.entity.UserTask" id="userTask">
		<id property="id" column="ID_" jdbcType="VARCHAR" />
		<result property="name" column="NAME_" jdbcType="VARCHAR" />
		<result property="createTime" column="START_TIME_" jdbcType="TIMESTAMP" typeHandler="com.ep.activiti.handlerUtil.TimestampToFormatStringHandler"/>
		<result property="processDefinitionId" column="PROC_DEF_ID_" jdbcType="VARCHAR" />
		<result property="processInstanceId" column="PROC_INST_ID_" jdbcType="VARCHAR" />
		<result property="businessKey" column="BUSINESS_KEY_" jdbcType="VARCHAR" />
		<result property="assignee" column="ASSIGNEE_" jdbcType="VARCHAR" />
		<result property="authenticatedUserId" column="START_USER_ID_" jdbcType="VARCHAR" />
		<result property="modelName" column="RESOURCE_NAME_" jdbcType="VARCHAR"/>
		<result property="tenantId" column="TENANT_ID_" jdbcType="VARCHAR"/>
		<result property="taskDefinitionKey" column="TASK_DEF_KEY_" jdbcType="VARCHAR"/>
		<result property="claimTime" column="CLAIM_TIME_" jdbcType="DATE"/>
		<result property="modelKey" column="KEY_" jdbcType="VARCHAR"/>
		
	</resultMap>

	<select id="getUserTask" resultMap="customTask_ru" parameterType="string">
		select 
			t.ID_,
			t.NAME_,
			t.CREATE_TIME_,
			t.PROC_DEF_ID_,
			t.PROC_INST_ID_,
			p.BUSINESS_KEY_,
			t.ASSIGNEE_,
			p.START_USER_ID_
		from 
			act_ru_task t  inner join 
			act_ru_identitylink i on i.TASK_ID_ = t.ID_ 
			inner join act_hi_procinst p on t.PROC_INST_ID_ = p.PROC_INST_ID_
		where
			i.TYPE_ = 'candidate'
		and 
			i.USER_ID_ = ${value}
		ORDER BY 
			t.CREATE_TIME_ DESC
			

	</select>
	<select id="getTaskDetail" resultMap="customTask_hi" parameterType="string">
		select 
			t.ID_,
			t.NAME_,
			t.START_TIME_,
			t.PROC_DEF_ID_,
			t.PROC_INST_ID_,
			p.BUSINESS_KEY_,
			t.ASSIGNEE_,
			p.START_USER_ID_
		from 
			act_hi_taskinst t  inner join 
			act_hi_procinst p on t.PROC_INST_ID_ = p.PROC_INST_ID_
		where
			t.ID_ = ${value}
	</select>
	<select id="getBusinessKey" resultType="string" parameterType="string">
		select p.BUSINESS_KEY_ from act_hi_procinst p where p.ID_ = ${value}
	</select>
</mapper>