<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ep.activiti.mapper.TaskHisActMapper">
	<resultMap type="com.ep.activiti.entity.TaskListenerHisAct" id="taskHisAct">
		<result column="ACT_NAME_" property="taskName" jdbcType="VARCHAR"/>
		<result column="ASSIGNEE_" property="assignee" jdbcType="VARCHAR"/>
		<result column="START_USER_ID_" property="startUserId" jdbcType="VARCHAR"/>
	</resultMap>
	
	<select id="getListenerHisTask" resultMap="taskHisAct" parameterType="string">
		SELECT 
			a.ACT_NAME_,
			a.ASSIGNEE_,
			p.START_USER_ID_ 
		FROM 
			act_hi_actinst a 
		INNER JOIN 
			act_hi_procinst p 
			ON a.PROC_INST_ID_ = p.ID_ 
		WHERE 
			a.PROC_INST_ID_ = ${value}			
		ORDER BY a.START_TIME_ ASC
	</select>
</mapper>